body {
    background-color:white;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input[type=text] {
    margin: 2px;
    width: 135px;
    height: 36px;
}
.calculator button {
    width: 40px;
    height: 20px;
    margin: 3px;
    padding: 2px;
}
